.contact-info {
    grid-template-areas: "space address address address address address address space2 contact contact contact space3";

    &__address {
        grid-area: address;
        *{
            margin: 0;
            margin-top: 2rem;
        }
    }

    &__contact {
        grid-area: contact;
        a{
            display: block;
            margin: 0;
            margin-top: 2rem;
        }
    }
}

// tablet down
@media screen and (max-width: $breakpoint-m-width) {
    .contact-info {
    grid-template-areas: "address address address address address address address contact contact contact contact contact";
    }
}
// mobile down
@media screen and (max-width: $breakpoint-sm-width) {
    .contact-info {
    grid-template-areas: "address address address address address address address address address address address address" "contact contact contact contact contact contact contact contact contact contact contact contact";
    }
}
