.hero-header {
    grid-template-areas: "text text text text text text text space img img img img";

    &__content {
        grid-area: text;
        align-self: center;

        h1 {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            span {
                align-self: flex-end;
                hyphens: auto;
            }
        }

        .hero-header__buttonwrapper {
            width: 100%;

            .button {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 1rem;
            }
        }
    }

    &__img {
        grid-area: img;

        img {
            aspect-ratio: 9 / 12;
            border-radius: 8px;
            object-fit: cover;
        }
    }
}

// Tablet down
@media screen and (max-width: $breakpoint-m-width) {
    .hero-header {
        grid-template-areas: "img img img img img img img img img img img img"
            "text text text text text text text text text text text text";

        &__img {
            img {
                aspect-ratio: 16 / 9;
            }
        }
    }
}