 @font-face {
    font-family: "Red Hat Display";
    src: url("../fonts/RedHatDisplay-VariableFont_wght.tff") format("tff");
    font-style: normal;
} 
 @font-face {
    font-family: "Red Hat Mono";
    src: url("../fonts/RedHatMono-VariableFont_wght.tff") format("tff");
    font-style: normal;
} 
 @font-face {
    font-family: "Red Hat Text";
    src: url("../fonts/RedHatText-VariableFont_wght.tff") format("tff");
    font-style: normal;
} 