/* @font-face {
    font-family: ">>FONT NAME<<";
    src: url("../fonts/>>FONT NAME<<.woff2") format("woff2"), url("../fonts/>>FONT NAME<<.woff") format("woff");
    font-weight: normal;
    font-style: normal;
} */