.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $spacing-s;
    width: 100%;
    &--50-50 {
        grid-template-columns: 1fr 1fr;
        gap: $spacing-s;
    }
}

// Tablet down
@media screen and (max-width: $breakpoint-m-width) {
    .grid--50-50 {
        grid-template-columns: 1fr;
        gap: $spacing-s;
    }
}