html {
    font-size: calc(#{8px} + #{strip-unit(4px)} * ((100vw - #{$breakpoint-s-width}) / #{strip-unit($breakpoints-max-diff)}));
    line-height: 1.3;
    @media screen and (max-width: $breakpoint-xl-width) {
    font-size: 12px;
    }
}

div,
p,
span,
em,
i,
li,
td,
address,
a {
    @include font-text-regular;
    @include text-regular;
}

p {
    margin: $spacing-mobile 0;
    max-width: $content-text-max-width;
}

strong,
b,
th,
.strong,
.bold,
button,
.btn,
label,
input,
textarea,
select {
    @include font-text-bold;
    @include text-regular;
}

h1,
.h1 {
    @include font-text-display;
    @include text-h1;
@media screen and (max-width: $breakpoint-sm-width) {
    font-size: 32px;
    span{
        font-size: 32px!important;
    }
}
}

h2,
.h2 {
    @include font-text-display;
    @include text-h2;
}

h3,
.h3 {
    @include font-text-mono;
    @include text-h3;
    font-variation-settings: "wght" 550;
}

h4,
.h4 {
    @include font-text-display;
    @include text-h4;
    font-variation-settings: "wght" 500;
}

h5,
.h5 {
    @include font-text-display;
    @include text-h5;
}

h6,
.h6 {
    @include font-text-display;
    @include text-h6;
}



ol,
ul {
    padding-left: 1em;
    margin: $spacing-mobile 0;
}

.text-bigger {
    @include text-bigger;
}

.text-super {
    @include text-super;
    @include font-text-bold;
}

.text-hero {
    @include text-hero;
    @include font-text-mono;
}

.text-hero-small {
    @include text-hero-small;
    @include font-text-mono;
}

.text-hero-mini {
    @include text-hero-mini;
    @include font-text-mono;
}


.font-regular {
    @include font-text-regular;
}

.font-text-bold {
    @include font-text-bold;
}

a {
    @include transition-all;

    &.link--nostyle {
        color: black;
    }
}

a,
a:active,
a:focus,
a:visited,
a:hover {
    text-decoration: none;
}

.menu li a {
    @include font-text-mono;
}

.hero-header__headline--span {
    @include text-h1;
    @include font-text-mono;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    display: block;
}

.emotional-facts__headline--span {
    @include text-h2;
    @include font-text-mono;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.3em;
    display: block;
    margin: 0;
}

.link--arrow {
    @include font-text-mono;
    color: $color-black;
    @include transition-all;
    text-align: right;
    display: block;
    margin-right: 2.1em;

    &::after {
        content: '⭢';
        display: inline-block;
        margin-left: 1em;
        margin-top: 0.1em;
        transform: scale(1.5);
        position: absolute;
    }

    &:hover {
        &::after {
            margin-left: 1.5em;
        }
    }
}

.link {
    &--color {
        &-lilac {
            color: black;
            text-decoration: underline;
            text-decoration-thickness: 0.08em;
            text-underline-offset: 0.3em;
            text-decoration-color: $color-lilac;

            &:hover {
                transform: scale(1.02);
                text-decoration: underline;
                text-decoration-thickness: 0.08em;
                text-underline-offset: 0.3em;
                text-decoration-color: $color-lilac;
            }
        }

        &-blue {
            color: black;
            text-decoration: underline;
            text-decoration-thickness: 0.08em;
            text-underline-offset: 0.3em;
            text-decoration-color: $color-blue;

            &:hover {
                transform: scale(1.02);
                text-decoration: underline;
                text-decoration-thickness: 0.08em;
                text-underline-offset: 0.3em;
                text-decoration-color: $color-blue;
            }
        }
    }
}