#site-footer {
    padding-top: $spacing-l;
    padding-bottom: $spacing-xs;

    .footer-wrapper {
        width: 100%;
        grid-template-areas: "logo logo logo space space space nav nav nav navtwo navtwo navtwo";
        gap: $spacing-s;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        padding: 1rem 2rem;

        .footer__site-branding {
            grid-area: logo;
        }

        #footer__navigation {
            grid-area: nav;
        }

        #footer__navigation__two {
            grid-area: navtwo;
        }

        .footer-navigation {
            margin: 0;
            padding: 0;

            #footer-menu {
                margin: 0;

            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    padding-right: $spacing-s;

                    a {
                        color: black;

                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: $color-turquoise;
                            text-decoration-thickness: 2px;
                            text-underline-offset: 0.4em;
                            @include transition-none;
                        }
                    }
                }
            }
        }
    }
}

// Tablet down
@media screen and (max-width: $breakpoint-m-width) {
    #site-footer {
        padding-top: $spacing-m;
        padding-bottom: $spacing-m;

        .footer-wrapper {
            display: block;

            .footer__site-branding {
                margin-bottom: $spacing-s;
            }
        }
    }
}