#site-header {
    position: fixed;
    padding-top: $spacing-xs;
    padding-bottom: $spacing-s;
    width: 100%;

    .site-header__container {
        width: 100%;
        grid-template-columns: 20% auto auto;
        grid-template-areas: "logo space nav";
        gap: $spacing-s;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        //height: 60px;
        padding: 1rem 2rem;

        .site-branding {
            grid-area: logo;
        }

        .site-navigation-wrapper {
            grid-area: nav;

            #menu-toggle {
                display: none;
            }

            .navigation-overlay {
                display: none;
            }

            .navigation-desktop ul {
                list-style-type: none;
                display: flex;
                gap: 4rem;
                justify-content: flex-end;
                align-items: center;
                margin: 0;
                padding: 0;
                li{
                    margin: 0;
                    a{
                        color: black;
                    }
                    &.menulink--background{
                        background-color: $color-darkblue;
                        border-radius: 8px;
                        padding: 0.8rem;
                       a{
                        color: white;
                        font-weight:600;
                       } 
                    }
                }
            }
        }

    }
}

// Tablet down
@media screen and (max-width: $breakpoint-m-width) {
    #site-header {
        .site-header__container {
            grid-template-columns: 20% auto 45px;

            .site-branding {}

            .site-navigation-wrapper {
                .navigation-desktop {
                    display: none;
                }

                #menu-toggle {
                    display: block;
                    max-width: 45px;
                    max-height: 45px;
                    padding: 5px;
                    z-index: 999;
                    background-color: white;
                    position: relative;
                    margin: 0;
                }
            }

            .navigation-overlay {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: white;
                z-index: 99;

                &--hidden {
                    display: none;
                }

                &--open {
                    display: block;
                }

                #primary-menu {
                    list-style-type: none;
                    overflow-y: auto;

                    li {
                        padding: $spacing-s 0;

                        a {
                            @include text-bigger;
                        }
                    }
                }
            }
        }
    }
}