#site-header {
    position: sticky;
    top: 0;
    padding-top: $spacing-xs;
    padding-bottom: $spacing-s;
    width: 100%;
    z-index: 9999;

    .site-header__container {
        width: 100%;
        grid-template-columns: 15% auto auto;
        grid-template-areas: "logo space nav";
        gap: $spacing-s;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        //height: 60px;
        padding: 1rem 2rem;

        .site-branding {
            grid-area: logo;
            max-width: 130px;
            align-self: center;
            margin-top: 0.8rem;
        }

        .site-navigation-wrapper {
            grid-area: nav;

            ul li a:hover {
                text-decoration: underline;
                text-decoration-color: $color-turquoise;
                text-decoration-thickness: 2px;
                text-underline-offset: 0.4em;
                @include transition-none;
            }

            #menu-toggle {
                display: none;
            }

            .navigation-overlay {
                display: none;
            }

            .navigation-desktop ul {
                list-style-type: none;
                display: flex;
                gap: 4rem;
                justify-content: flex-end;
                align-items: center;
                margin: 0;
                padding: 0;

                li {
                    margin: 0;

                    a {
                        color: black;
                    }

                    &.menulink--background {
                        background-color: $color-darkblue;
                        border-radius: 8px;
                        padding: 0.8rem;

                        a {
                            color: white;
                            font-variation-settings: "wght" 600;
                        }

                        &:hover {
                            transform: scale(1.02);

                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

    }
}

// Tablet down
@media screen and (max-width: $breakpoint-m-width) {
    #site-header {
        .site-header__container {
            grid-template-columns: 20% auto 45px;

            .site-branding {}

            .site-navigation-wrapper {
                .navigation-desktop {
                    display: none;
                }

                #menu-toggle {
                    display: block;
                    max-width: 45px;
                    max-height: 45px;
                    padding: 5px;
                    z-index: 999;
                    background-color: white;
                    position: relative;
                    margin: 0;
                    border: none;
                }
            }

            .navigation-overlay {
                position: fixed;
                top: 10rem;
                left: $spacing-s;
                right: $spacing-s;
                background-color: white;
                z-index: 99;
                border-radius: 8px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                &--hidden {
                    display: none;
                }

                &--open {
                    display: block !important;
                }

                nav {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                #primary-menu {
                    list-style-type: none;
                    overflow-y: auto;

                    li {
                        padding: 1rem 0;

                        a {
                            @include text-bigger;
                            color: black;
                        }

                        &.menulink--background {
                            background-color: $color-darkblue;
                            border-radius: 8px;
                            padding: 0.8rem;
                            width: fit-content;
                            width: -moz-fit-content;
                            width: -webkit-fit-content;

                            a {
                                color: white;
                                font-variation-settings: "wght" 600;
                            }

                            &:hover {
                                transform: scale(1.02);

                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Mobile down
@media screen and (max-width: $breakpoint-s-width) {
    #site-header {
        .site-header__container {
            .navigation-overlay {
                left: $spacing-mobile;
                right: $spacing-mobile;
            }
        }
    }
}