.text-white,
.text-white:before {
  color: #FFFFFF;
}

.text-black,
.text-black:before {
  color: #000000;
}

.text-grey,
.text-grey:before {
  color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-black {
  background-color: #000000;
}

.bg-grey {
  background-color: #E4E9F4;
}

.flex-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.inline-flex-wrapper {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.flex-wrapper.flex-wrapper--left,
.inline-flex-wrapper.flex-wrapper--left {
  justify-content: flex-start;
}
.flex-wrapper.flex-wrapper--center,
.inline-flex-wrapper.flex-wrapper--center {
  justify-content: center;
  align-items: center;
}
.flex-wrapper.flex-wrapper--hcenter,
.inline-flex-wrapper.flex-wrapper--hcenter {
  justify-content: center;
}
.flex-wrapper.flex-wrapper--vcenter,
.inline-flex-wrapper.flex-wrapper--vcenter {
  align-items: center;
}
.flex-wrapper.flex-wrapper--right,
.inline-flex-wrapper.flex-wrapper--right {
  justify-content: flex-end;
}
.flex-wrapper.flex-wrapper--stretch,
.inline-flex-wrapper.flex-wrapper--stretch {
  align-items: stretch;
}

.flex-square {
  flex: 1 0 0;
}
.flex-square:before {
  /* The psuedo-element's padding-top percentage is based on the element's width. */
  padding-top: 100%;
  content: "";
  float: left;
}
.flex-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .flex-square {
    flex: 0 1 auto;
  }
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Mono";
  src: url("../fonts/RedHatMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
.invisible,
.hidden {
  display: none !important;
}

.text-center {
  display: block;
  text-align: center;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  display: block;
  text-align: right;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-underline {
  text-decoration: underline !important;
}

.text-linethrough {
  text-decoration: line-through;
}

.bg-image {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
}

img.avatar {
  width: auto;
  border-radius: 50%;
}

.no-break {
  word-break: keep-all !important;
}

.no-margin {
  margin: 0;
}

.no-hor-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.flex {
  display: flex;
}

#page.site {
  width: 100vw;
  background: url(../img/background-top.svg);
  background-repeat: no-repeat;
  background-position: 90% -5.5rem;
  background-size: 48%;
}

.site-main {
  overflow-x: hidden;
}
.site-main.no-overflow {
  overflow: unset;
}

@media screen and (max-width: 560px) {
  body {
    overflow-x: hidden;
  }
}
.content-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px;
}
@media screen and (max-width: 1200px) {
  .content-container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .content-container {
    padding: 0 21px;
  }
}
@media screen and (max-width: 375px) {
  .content-container {
    padding: 0 16px;
  }
}

.top-bottom-container {
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .top-bottom-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .top-bottom-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 375px) {
  .top-bottom-container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

html {
  font-size: calc(8px + 4 * (100vw - 375px) / 1545);
  line-height: 1.3;
}

div,
p,
span,
em,
i,
li,
td,
address,
a {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin: 16px 0;
  max-width: 1128px;
}

strong,
b,
th,
.strong,
.bold,
button,
.btn,
label,
input,
textarea,
select {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,
.h1 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0.28em;
}

h2,
.h2 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 7rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h3,
.h3 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h4,
.h4 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h5,
.h5 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.8rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h6,
.h6 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.2rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

ol,
ul {
  padding-left: 1em;
  margin: 16px 0;
}

.text-bigger {
  font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 1.4em;
}

.text-super {
  font-size: 9rem;
  margin-top: 3em;
  margin-bottom: 3em;
}

.text-hero {
  font-size: 28rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.text-hero-small {
  font-size: 20rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.text-hero-mini {
  font-size: 14rem;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-regular {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-text-bold {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}
a.link--nostyle {
  color: black;
}

a,
a:active,
a:focus,
a:visited,
a:hover {
  text-decoration: none;
}

.menu li a {
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.hero-header__headline--span {
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0.28em;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.3em;
  display: block;
}

*,
div,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #FFFFFF;
}
body.no-scroll {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

figure,
img {
  position: relative;
  line-height: 0;
  width: 100%;
  height: auto;
}

.inner {
  max-width: 1514px;
  margin: auto;
  padding: 0 21px;
  position: relative;
}

::selection {
  background: #000000;
  color: #FFFFFF;
}

::-moz-selection {
  background: #000000;
  color: #FFFFFF;
}

body.menu-open {
  overflow: hidden;
  overscroll-behavior: none;
}

#primary {
  min-height: 75vh;
}

@media screen and (min-width: 1200px) {
  .inner {
    padding: 0 50px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 21px;
  width: 100%;
}
.grid--50-50 {
  grid-template-columns: 1fr 1fr;
  gap: 21px;
}

@media screen and (max-width: 768px) {
  .grid--50-50 {
    grid-template-columns: 1fr;
    gap: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .hide-for-desktop {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .hide-for-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hide-for-tablet-down {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .hide-for-desktop-down {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .show-for-desktop {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .show-for-mobile {
    display: block;
  }
}

.template--404 .grid--50-50 {
  margin-top: 10vh;
}

.template--search .search-form-wrapper {
  margin-bottom: 50px;
}
.template--search .search-results-wrapper {
  margin-top: 50px;
}

.button,
button {
  background-color: transparent;
  color: #000647;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  padding: 1rem 1.5rem;
  cursor: pointer;
  text-align: center;
  font-variation-settings: "wght" 600;
  -webkit-appearance: none;
  height: auto;
  min-height: 35px;
  border-radius: 8px;
  width: auto;
  display: block;
}
.button:disabled, .button[disabled],
button:disabled,
button[disabled] {
  opacity: 0.5;
}
.button--primary,
button--primary {
  background: linear-gradient(176deg, #72F9F5 0%, #73F8BE 70%, #C8BBE9 120%);
  padding: calc(1rem + 2px) 1.5rem;
}
.button--primary:hover,
button--primary:hover {
  transform: scale(1.02);
}
.button--secondary,
button--secondary {
  border: 2px solid #000647;
}
.button--secondary:hover,
button--secondary:hover {
  transform: scale(1.02);
}

input {
  height: 45px;
  padding: 5px;
}

#site-header {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 21px;
  width: 100%;
  z-index: 9999;
}
#site-header .site-header__container {
  width: 100%;
  grid-template-columns: 20% auto auto;
  grid-template-areas: "logo space nav";
  gap: 21px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1rem 2rem;
}
#site-header .site-header__container .site-branding {
  grid-area: logo;
}
#site-header .site-header__container .site-navigation-wrapper {
  grid-area: nav;
}
#site-header .site-header__container .site-navigation-wrapper ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #73F8BE;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4em;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
#site-header .site-header__container .site-navigation-wrapper #menu-toggle {
  display: none;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-overlay {
  display: none;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li {
  margin: 0;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li a {
  color: black;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li.menulink--background {
  background-color: #000647;
  border-radius: 8px;
  padding: 0.8rem;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li.menulink--background a {
  color: white;
  font-variation-settings: "wght" 600;
}

@media screen and (max-width: 768px) {
  #site-header .site-header__container {
    grid-template-columns: 20% auto 45px;
  }
  #site-header .site-header__container .site-navigation-wrapper .navigation-desktop {
    display: none;
  }
  #site-header .site-header__container .site-navigation-wrapper #menu-toggle {
    display: block;
    max-width: 45px;
    max-height: 45px;
    padding: 5px;
    z-index: 999;
    background-color: white;
    position: relative;
    margin: 0;
  }
  #site-header .site-header__container .navigation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99;
  }
  #site-header .site-header__container .navigation-overlay--hidden {
    display: none;
  }
  #site-header .site-header__container .navigation-overlay--open {
    display: block;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu {
    list-style-type: none;
    overflow-y: auto;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu li {
    padding: 21px 0;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu li a {
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 1.4em;
  }
}
#site-footer {
  padding-top: 50px;
  padding-bottom: 10px;
}
#site-footer .footer-wrapper {
  width: 100%;
  grid-template-columns: 20% auto;
  grid-template-areas: "logo nav1 nav2";
  gap: 21px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1rem 2rem;
}
#site-footer .footer-wrapper .footer__site-branding {
  grid-area: logo;
}
#site-footer .footer-wrapper #footer__navigation {
  grid-area: nav;
  margin: 0;
  padding: 0;
}
#site-footer .footer-wrapper #footer__navigation #footer-menu {
  margin: 0;
}
#site-footer .footer-wrapper #footer__navigation #footer-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#site-footer .footer-wrapper #footer__navigation #footer-menu ul li {
  display: inline-block;
  padding-right: 21px;
}
#site-footer .footer-wrapper #footer__navigation #footer-menu ul li:last-child {
  padding-right: 0;
}
#site-footer .footer-wrapper .footer__text {
  grid-area: text;
}

@media screen and (max-width: 768px) {
  #site-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #site-footer .footer-wrapper {
    display: block;
  }
  #site-footer .footer-wrapper .footer__site-branding {
    margin-bottom: 21px;
  }
}
.hero-header {
  grid-template-areas: "text text text text text text text space img img img img";
}
.hero-header__content {
  grid-area: text;
  align-self: center;
}
.hero-header__content h1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-header__content h1 span {
  align-self: flex-end;
}
.hero-header__content .hero-header__buttonwrapper {
  width: 100%;
}
.hero-header__content .hero-header__buttonwrapper .button {
  display: inline-block;
  margin-right: 1rem;
}
.hero-header__img {
  grid-area: img;
}
.hero-header__img img {
  aspect-ratio: 9/12;
  border-radius: 8px;
  object-fit: cover;
}

.circle-diagram__circle .circle-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-family: sans-serif;
}
.circle-diagram__circle .circle {
  position: relative;
  width: 260px;
  height: 260px;
}
.circle-diagram__circle svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
.circle-diagram__circle .segment {
  fill: none;
  stroke: #73F8BE;
  stroke-width: 8;
  opacity: 0.5;
  transition: all 0.4s ease;
}
.circle-diagram__circle .segment.active {
  stroke: #C8BBE9;
  stroke-width: 16;
  opacity: 1;
}
.circle-diagram__circle .center {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #000647;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-diagram__circle .floating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
  pointer-events: none;
  width: 200px;
  text-align: center;
}
.circle-diagram__circle .label {
  display: none;
  font-size: 24px;
  border-bottom: 3px solid #b896c8;
  padding-bottom: 4px;
}
.circle-diagram__circle .label.active {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
