@charset "UTF-8";
.text-white,
.text-white:before {
  color: #FFFFFF;
}

.text-black,
.text-black:before {
  color: #000000;
}

.text-grey,
.text-grey:before {
  color: #000000;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-black {
  background-color: #000000;
}

.bg-grey {
  background-color: #E4E9F4;
}

.flex-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.inline-flex-wrapper {
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.flex-wrapper.flex-wrapper--left,
.inline-flex-wrapper.flex-wrapper--left {
  justify-content: flex-start;
}
.flex-wrapper.flex-wrapper--center,
.inline-flex-wrapper.flex-wrapper--center {
  justify-content: center;
  align-items: center;
}
.flex-wrapper.flex-wrapper--hcenter,
.inline-flex-wrapper.flex-wrapper--hcenter {
  justify-content: center;
}
.flex-wrapper.flex-wrapper--vcenter,
.inline-flex-wrapper.flex-wrapper--vcenter {
  align-items: center;
}
.flex-wrapper.flex-wrapper--right,
.inline-flex-wrapper.flex-wrapper--right {
  justify-content: flex-end;
}
.flex-wrapper.flex-wrapper--stretch,
.inline-flex-wrapper.flex-wrapper--stretch {
  align-items: stretch;
}

.flex-square {
  flex: 1 0 0;
}
.flex-square:before {
  /* The psuedo-element's padding-top percentage is based on the element's width. */
  padding-top: 100%;
  content: "";
  float: left;
}
.flex-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .flex-square {
    flex: 0 1 auto;
  }
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Mono";
  src: url("../fonts/RedHatMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
.invisible,
.hidden {
  display: none !important;
}

.text-center {
  display: block;
  text-align: center;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  display: block;
  text-align: right;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-underline {
  text-decoration: underline !important;
}

.text-linethrough {
  text-decoration: line-through;
}

.bg-image {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
}

img.avatar {
  width: auto;
  border-radius: 50%;
}

.no-break {
  word-break: keep-all !important;
}

.no-margin {
  margin: 0;
}

.no-hor-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.flex {
  display: flex;
}

#page.site {
  width: 100vw;
  background: url(../img/background-top.svg);
  background-repeat: no-repeat;
  background-position: 45vw -4.5rem;
  background-size: 53vw;
}

.site-main {
  overflow-x: hidden;
}
.site-main.no-overflow {
  overflow: unset;
}

@media screen and (max-width: 560px) {
  body {
    overflow-x: hidden;
  }
}
.content-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
}
@media screen and (max-width: 1200px) {
  .content-container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .content-container {
    padding: 0 21px;
  }
}
@media screen and (max-width: 375px) {
  .content-container {
    padding: 0 16px;
  }
}

.top-bottom-container {
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .top-bottom-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .top-bottom-container {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 375px) {
  .top-bottom-container {
    padding-top: 0;
    padding-bottom: 21px;
  }
}

html {
  font-size: calc(8px + 4 * (100vw - 375px) / 1545);
  line-height: 1.3;
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 12px;
  }
}

div,
p,
span,
em,
i,
li,
td,
address,
a {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-variation-settings: "wght" 400;
  font-style: normal;
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin: 16px 0;
  max-width: 1128px;
}

strong,
b,
th,
.strong,
.bold,
button,
.btn,
label,
input,
textarea,
select {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-variation-settings: "wght" 600;
  font-style: normal;
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,
.h1 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-variation-settings: "wght" 700;
  font-style: normal;
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0.28em;
}
@media screen and (max-width: 560px) {
  h1,
  .h1 {
    font-size: 32px;
  }
  h1 span,
  .h1 span {
    font-size: 32px !important;
  }
}

h2,
.h2 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-variation-settings: "wght" 700;
  font-style: normal;
  font-size: 3.6rem;
  margin-top: 1.2em;
  margin-bottom: 0.7em;
}

h3,
.h3 {
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 1.4em;
  margin-bottom: 0.7em;
  font-variation-settings: "wght" 550;
}

h4,
.h4 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-variation-settings: "wght" 700;
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
  font-variation-settings: "wght" 500;
}

h5,
.h5 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-variation-settings: "wght" 700;
  font-style: normal;
  font-size: 2.8rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

h6,
.h6 {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-variation-settings: "wght" 700;
  font-style: normal;
  font-size: 2.2rem;
  margin-top: 1.85em;
  margin-bottom: 0.7em;
}

ol,
ul {
  padding-left: 1em;
  margin: 16px 0;
}

.text-bigger {
  font-size: 2.4rem;
  margin-top: 2em;
  margin-bottom: 1.4em;
}

.text-super {
  font-size: 6rem;
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-variation-settings: "wght" 600;
  font-style: normal;
}

.text-hero {
  font-size: 28rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
}

.text-hero-small {
  font-size: 20rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
}

.text-hero-mini {
  font-size: 14rem;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
}

.font-regular {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-variation-settings: "wght" 400;
  font-style: normal;
}

.font-text-bold {
  font-family: "Red Hat Text", Arial, sans-serif;
  font-variation-settings: "wght" 600;
  font-style: normal;
}

a {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}
a.link--nostyle {
  color: black;
}

a,
a:active,
a:focus,
a:visited,
a:hover {
  text-decoration: none;
}

.menu li a {
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
}

.hero-header__headline--span {
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0.28em;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.3em;
  display: block;
}

.emotional-facts__headline--span {
  font-size: 3.6rem;
  margin-top: 1.2em;
  margin-bottom: 0.7em;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.3em;
  display: block;
  margin: 0;
}

.link--arrow {
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
  color: #000000;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  text-align: right;
  display: block;
  margin-right: 2.1em;
}
.link--arrow::after {
  content: "⭢";
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.1em;
  transform: scale(1.5);
  position: absolute;
}
.link--arrow:hover::after {
  margin-left: 1.5em;
}

.link--color-lilac {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.3em;
  text-decoration-color: #C8BBE9;
}
.link--color-lilac:hover {
  transform: scale(1.02);
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.3em;
  text-decoration-color: #C8BBE9;
}
.link--color-blue {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.3em;
  text-decoration-color: #72F9F5;
}
.link--color-blue:hover {
  transform: scale(1.02);
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
  text-underline-offset: 0.3em;
  text-decoration-color: #72F9F5;
}

*,
div,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  vertical-align: top;
}

section {
  margin-bottom: 12rem;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #FFFFFF;
}
body.no-scroll {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

figure,
img {
  position: relative;
  line-height: 0;
  width: 100%;
  height: auto;
}

.inner {
  max-width: 1514px;
  margin: auto;
  padding: 0 21px;
  position: relative;
}

::selection {
  background: #000000;
  color: #FFFFFF;
}

::-moz-selection {
  background: #000000;
  color: #FFFFFF;
}

body.menu-open {
  overflow: hidden;
  overscroll-behavior: none;
}

#primary {
  min-height: 75vh;
}

@media screen and (min-width: 1200px) {
  .inner {
    padding: 0 50px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 21px;
  width: 100%;
}
.grid--50-50 {
  grid-template-columns: 1fr 1fr;
  gap: 21px;
}

@media screen and (max-width: 768px) {
  .grid--50-50 {
    grid-template-columns: 1fr;
    gap: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .hide-for-desktop {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .hide-for-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hide-for-tablet-down {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .hide-for-desktop-down {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .show-for-desktop {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .show-for-mobile {
    display: block;
  }
}

.template--404 .grid--50-50 {
  margin-top: 10vh;
}

.template--search .search-form-wrapper {
  margin-bottom: 50px;
}
.template--search .search-results-wrapper {
  margin-top: 50px;
}

.button,
button {
  background-color: transparent;
  color: #000647;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  padding: 1rem 1.5rem;
  cursor: pointer;
  text-align: center;
  font-variation-settings: "wght" 600;
  -webkit-appearance: none;
  height: auto;
  min-height: 35px;
  border-radius: 8px;
  width: auto;
  display: block;
}
.button:disabled, .button[disabled],
button:disabled,
button[disabled] {
  opacity: 0.5;
}
.button--primary,
button--primary {
  background: linear-gradient(176deg, #72F9F5 0%, #73F8BE 70%, #C8BBE9 120%);
  padding: calc(1rem + 2px) 1.5rem;
  border: none;
}
.button--primary:hover,
button--primary:hover {
  transform: scale(1.02);
}
.button--secondary,
button--secondary {
  border: 2px solid #000647;
}
.button--secondary:hover,
button--secondary:hover {
  transform: scale(1.02);
}

input {
  height: 45px;
  padding: 5px;
}

#site-header {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 21px;
  width: 100%;
  z-index: 9999;
}
#site-header .site-header__container {
  width: 100%;
  grid-template-columns: 15% auto auto;
  grid-template-areas: "logo space nav";
  gap: 21px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1rem 2rem;
}
#site-header .site-header__container .site-branding {
  grid-area: logo;
  max-width: 130px;
  align-self: center;
  margin-top: 0.8rem;
}
#site-header .site-header__container .site-navigation-wrapper {
  grid-area: nav;
}
#site-header .site-header__container .site-navigation-wrapper ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #73F8BE;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4em;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
#site-header .site-header__container .site-navigation-wrapper #menu-toggle {
  display: none;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-overlay {
  display: none;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li {
  margin: 0;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li a {
  color: black;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li.menulink--background {
  background-color: #000647;
  border-radius: 8px;
  padding: 0.8rem;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li.menulink--background a {
  color: white;
  font-variation-settings: "wght" 600;
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li.menulink--background:hover {
  transform: scale(1.02);
}
#site-header .site-header__container .site-navigation-wrapper .navigation-desktop ul li.menulink--background:hover a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #site-header .site-header__container {
    grid-template-columns: 20% auto 45px;
  }
  #site-header .site-header__container .site-navigation-wrapper .navigation-desktop {
    display: none;
  }
  #site-header .site-header__container .site-navigation-wrapper #menu-toggle {
    display: block;
    max-width: 45px;
    max-height: 45px;
    padding: 5px;
    z-index: 999;
    background-color: white;
    position: relative;
    margin: 0;
    border: none;
  }
  #site-header .site-header__container .navigation-overlay {
    position: fixed;
    top: 10rem;
    left: 21px;
    right: 21px;
    background-color: white;
    z-index: 99;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  #site-header .site-header__container .navigation-overlay--hidden {
    display: none;
  }
  #site-header .site-header__container .navigation-overlay--open {
    display: block !important;
  }
  #site-header .site-header__container .navigation-overlay nav {
    padding-top: 0;
    padding-bottom: 0;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu {
    list-style-type: none;
    overflow-y: auto;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu li {
    padding: 1rem 0;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu li a {
    font-size: 2.4rem;
    margin-top: 2em;
    margin-bottom: 1.4em;
    color: black;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu li.menulink--background {
    background-color: #000647;
    border-radius: 8px;
    padding: 0.8rem;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu li.menulink--background a {
    color: white;
    font-variation-settings: "wght" 600;
  }
  #site-header .site-header__container .navigation-overlay #primary-menu li.menulink--background:hover {
    transform: scale(1.02);
  }
  #site-header .site-header__container .navigation-overlay #primary-menu li.menulink--background:hover a {
    text-decoration: none;
  }
}
@media screen and (max-width: 375px) {
  #site-header .site-header__container .navigation-overlay {
    left: 16px;
    right: 16px;
  }
}
#site-footer {
  padding-top: 50px;
  padding-bottom: 10px;
}
#site-footer .footer-wrapper {
  width: 100%;
  grid-template-areas: "logo logo logo space space space nav nav nav navtwo navtwo navtwo";
  gap: 21px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1rem 2rem;
}
#site-footer .footer-wrapper .footer__site-branding {
  grid-area: logo;
  margin-top: 3rem;
  padding: 3rem;
}
#site-footer .footer-wrapper #footer__navigation {
  grid-area: nav;
}
#site-footer .footer-wrapper #footer__navigation__two {
  grid-area: navtwo;
}
#site-footer .footer-wrapper .footer-navigation {
  margin: 0;
  padding: 0;
}
#site-footer .footer-wrapper .footer-navigation #footer-menu {
  margin: 0;
}
#site-footer .footer-wrapper .footer-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#site-footer .footer-wrapper .footer-navigation ul li {
  display: block;
  padding-right: 21px;
}
#site-footer .footer-wrapper .footer-navigation ul li a {
  color: black;
}
#site-footer .footer-wrapper .footer-navigation ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #73F8BE;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4em;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

@media screen and (max-width: 1080px) {
  #site-footer .footer-wrapper {
    grid-template-areas: "logo logo logo space space nav nav nav navtwo navtwo navtwo navtwo";
  }
}
@media screen and (max-width: 768px) {
  #site-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #site-footer .footer-wrapper {
    grid-template-areas: "space space space logo logo logo logo logo logo space2 space2 space2" "nav nav nav nav nav space3 navtwo navtwo navtwo navtwo navtwo navtwo";
  }
}
@media screen and (max-width: 560px) {
  #site-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #site-footer .footer-wrapper {
    grid-template-areas: "space logo logo logo logo logo logo logo logo logo logo space2" "nav nav nav nav nav nav nav nav nav nav nav nav" "navtwo navtwo navtwo navtwo navtwo navtwo navtwo navtwo navtwo navtwo navtwo navtwo";
  }
}
.hero-header {
  grid-template-areas: "text text text text text text text space img img img img";
}
.hero-header__content {
  grid-area: text;
  align-self: center;
}
.hero-header__content h1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-header__content h1 span {
  align-self: flex-end;
  hyphens: auto;
}
.hero-header__content .hero-header__buttonwrapper {
  width: 100%;
}
.hero-header__content .hero-header__buttonwrapper .button {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 1rem;
}
.hero-header__img {
  grid-area: img;
}
.hero-header__img img {
  aspect-ratio: 9/12;
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .hero-header {
    grid-template-areas: "img img img img img img img img img img img img" "text text text text text text text text text text text text";
  }
  .hero-header__img img {
    aspect-ratio: 16/9;
  }
}
.circle-diagram {
  grid-template-areas: "text text text text text space circle circle circle circle circle circle";
}
.circle-diagram__text {
  grid-area: text;
}
.circle-diagram__text a {
  margin-top: 4rem;
}
.circle-diagram__circle {
  grid-area: circle;
  align-self: center;
  margin-top: 5rem;
}
.circle-diagram__circle .circle-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
}
.circle-diagram__circle .circle {
  position: relative;
  width: 260px;
  height: 260px;
}
.circle-diagram__circle svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}
.circle-diagram__circle .segment {
  fill: none;
  stroke: #73F8BE;
  stroke-width: 8;
  opacity: 0.5;
  transition: all 0.4s ease;
}
.circle-diagram__circle .segment.active {
  stroke: #C8BBE9;
  stroke-width: 16;
  opacity: 1;
}
.circle-diagram__circle .center {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #000647;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-diagram__circle .floating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
  pointer-events: none;
  width: 200px;
  text-align: center;
}
.circle-diagram__circle .label {
  display: none;
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Red Hat Mono", Arial, sans-serif;
  font-style: normal;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-color: #C8BBE9;
  text-decoration-thickness: 2px;
  padding-bottom: 4px;
  max-width: 20rem;
  hyphens: auto;
}
.circle-diagram__circle .label.active {
  display: inline-block;
}

@media screen and (max-width: 1080px) {
  .circle-diagram {
    grid-template-areas: "space text text text text text text text text text text space2" "circle circle circle circle circle circle circle circle circle circle circle circle";
  }
}
@media screen and (max-width: 560px) {
  .circle-diagram {
    grid-template-areas: "text text text text text text text text text text text text" "circle circle circle circle circle circle circle circle circle circle circle circle";
  }
  .circle-diagram__circle {
    grid-area: circle;
    align-self: center;
    margin-top: 5rem;
  }
  .circle-diagram__circle .circle-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: sans-serif;
  }
  .circle-diagram__circle .circle {
    width: 10rem;
    height: 10rem;
  }
  .circle-diagram__circle .center {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
  }
}
.descriptions {
  grid-template-areas: "overview overview overview overview overview space detail detail detail detail detail detail";
  margin-top: 14rem;
}
.descriptions__overview {
  grid-area: overview;
}
.descriptions__overview .descriptions__overview__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.descriptions__overview .descriptions__overview__item p {
  margin: 0;
}
.descriptions__overview .descriptions__overview__item .line {
  height: 2px;
  width: 100%;
  margin-top: 3px;
}
.descriptions__overview .descriptions__overview__item:nth-child(4n+1) .line {
  background-color: #73F8BE;
}
.descriptions__overview .descriptions__overview__item:nth-child(4n+2) .line {
  background-color: #C8BBE9;
}
.descriptions__overview .descriptions__overview__item:nth-child(4n+3) .line {
  background-color: #72F9F5;
}
.descriptions__overview .descriptions__overview__item:nth-child(4n+4) .line {
  background-color: #FFF77C;
}
.descriptions__overview .descriptions__overview__item--active {
  flex-direction: row-reverse;
  margin-right: -4rem;
}
.descriptions__overview .descriptions__overview__item--active p {
  font-variation-settings: "wght" 700;
}
.descriptions__overview .descriptions__overview__item:hover {
  cursor: pointer;
}
.descriptions__overview .descriptions__overview__item:hover p {
  font-variation-settings: "wght" 600;
}
.descriptions__detail {
  grid-area: detail;
}
.descriptions__detail .descriptions__detail__item {
  display: none;
}
.descriptions__detail .descriptions__detail__item .image-wrapper {
  aspect-ratio: 24/9;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.descriptions__detail .descriptions__detail__item .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.descriptions__detail .descriptions__detail__item--active {
  display: block;
}

@media screen and (max-width: 768px) {
  .descriptions {
    grid-template-areas: "overview overview overview overview overview overview overview overview overview overview overview overview" "detail detail detail detail detail detail detail detail detail detail detail detail";
  }
  .descriptions__overview {
    grid-area: overview;
  }
  .descriptions__overview .descriptions__overview__item--active {
    margin-right: 0;
  }
  .descriptions__detail {
    margin-top: 2rem;
  }
}
.emotional-facts {
  grid-template-areas: "headline headline headline headline headline headline space1 space1 space1 fact1 fact1 fact1" "space2 space2 space2 space2 space2 fact2 fact2 fact2 img1 img1 img1 img1" "space3 fact3 fact3 fact3 space4 space4 space4 space4 img1 img1 img1 img1" "img2 img2 img2 img2 space5 space5 fact4 fact4 fact4 sapce6 sapce6 sapce6" "img2 img2 img2 img2 space7 space7 space7 space7 space7 space7 fact5 fact5";
  background: url(../img/emotional-icons.svg);
  background-repeat: no-repeat;
  background-position: 0 18rem;
  background-size: 75%;
  margin-bottom: 14rem;
}
.emotional-facts__headline {
  grid-area: headline;
}
.emotional-facts__headline h2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}
.emotional-facts__fact {
  align-self: center;
  position: relative;
  z-index: 2;
}
.emotional-facts__fact .text-super {
  margin: 0;
}
.emotional-facts__fact::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  top: -1rem;
  left: -3rem;
  z-index: -1;
}
.emotional-facts__fact .text-bigger {
  margin: 0;
}
.emotional-facts__fact:nth-child(2) {
  grid-area: fact1;
}
.emotional-facts__fact:nth-child(2)::before {
  background-color: #73F8BE;
}
.emotional-facts__fact:nth-child(3) {
  grid-area: fact2;
}
.emotional-facts__fact:nth-child(3)::before {
  background-color: #C8BBE9;
}
.emotional-facts__fact:nth-child(4) {
  grid-area: fact3;
}
.emotional-facts__fact:nth-child(4)::before {
  background-color: #72F9F5;
}
.emotional-facts__fact:nth-child(5) {
  grid-area: fact4;
}
.emotional-facts__fact:nth-child(5)::before {
  background-color: #FFF77C;
}
.emotional-facts__fact:nth-child(6) {
  grid-area: fact5;
}
.emotional-facts__fact:nth-child(6)::before {
  background-color: #72F9F5;
}
.emotional-facts__img {
  border-radius: 8px;
  overflow: hidden;
}
.emotional-facts__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.emotional-facts__img:nth-child(7) {
  grid-area: img1;
  aspect-ratio: 1/1;
}
.emotional-facts__img:nth-child(8) {
  grid-area: img2;
  aspect-ratio: 20/9;
}

@media screen and (max-width: 768px) {
  .emotional-facts {
    grid-template-areas: "headline headline headline headline headline headline headline headline fact1 fact1 fact1 fact1" "space2 space2 fact2 fact2 fact2 fact2 img1 img1 img1 img1 img1 img1" "space3 fact3 fact3 fact3 fact3 fact3 img1 img1 img1 img1 img1 img1" "img2 img2 img2 img2 space5 fact4 fact4 fact4 fact4 fact4 fact4 sapce6" "img2 img2 img2 img2 space7 space7 space7 space7 fact5 fact5 fact5 fact5";
    row-gap: 8rem;
    background-position: -32rem 0rem;
    background-size: 180%;
    background-repeat: repeat-y;
  }
  .emotional-facts__img:nth-child(7) {
    aspect-ratio: 1/1;
  }
  .emotional-facts__img:nth-child(8) {
    aspect-ratio: 7/9;
  }
}
@media screen and (max-width: 560px) {
  .emotional-facts {
    grid-template-areas: "headline headline headline headline headline headline headline headline headline headline headline headline" "space1 space1 space1 space1 fact1 fact1 fact1 fact1 fact1 fact1 fact1 fact1" "space2 fact2 fact2 fact2 fact2 fact2 img1 img1 img1 img1 img1 img1" "fact3 fact3 fact3 fact3 fact3 space4 img1 img1 img1 img1 img1 img1" "img2 img2 img2 img2 space5 fact4 fact4 fact4 fact4 sapce6 sapce6 sapce6" "img2 img2 img2 img2 space7 space7 space7 fact5 fact5 fact5 fact5 fact5";
  }
}
.showcases__content-wrapper {
  align-items: start;
}
.showcases__content-wrapper .showcases__content {
  grid-column-end: span 4;
  position: relative;
}
.showcases__content-wrapper .showcases__content .showcases__content__img {
  border-radius: 8px;
  aspect-ratio: 9/12;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.showcases__content-wrapper .showcases__content .showcases__content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.showcases__content-wrapper .showcases__content .showcases__content__img .showcases__content__additional {
  display: none;
  position: absolute;
  bottom: 2rem;
  top: auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  left: 2rem;
  right: 2rem;
  padding: 1rem;
}
.showcases__content-wrapper .showcases__content .showcases__content__img:hover::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.showcases__content-wrapper .showcases__content .showcases__content__img:hover .showcases__content__additional {
  display: block;
  z-index: 2;
}
.showcases__content-wrapper .showcases__content--cta .showcases__content__img {
  border: 2px solid #C8BBE9;
  background: linear-gradient(143.364deg, rgba(114, 249, 245, 0.3) 0%, rgba(115, 248, 190, 0.3) 43%, rgba(200, 187, 233, 0.3) 100%);
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  padding: 4rem;
  padding-bottom: 2rem;
}
.showcases__content-wrapper .showcases__content--cta .showcases__content__img h3 {
  font-size: 2.4rem;
  margin-top: 2em;
  margin-bottom: 1.4em;
  color: #000647;
}
.showcases__content-wrapper .showcases__content--cta .showcases__content__img .button {
  background: #C8BBE9;
}
.showcases__content-wrapper .showcases__content--cta .showcases__content__img:hover::after {
  display: none;
}

@media screen and (max-width: 768px) {
  .showcases__content-wrapper .showcases__content {
    grid-column-end: span 6;
  }
}
@media screen and (max-width: 560px) {
  .showcases__content-wrapper .showcases__content {
    grid-column-end: span 12;
  }
  .showcases__content-wrapper .showcases__content .showcases__content__img {
    aspect-ratio: 9/10;
  }
}
.team {
  position: relative;
}
.team::before {
  content: "";
  position: absolute;
  top: 20rem;
  left: calc(50% - 50vw);
  width: 100vw;
  height: 60%;
  background-image: url("../img/background-team.svg");
  background-repeat: repeat-x;
}
.team h2 {
  grid-column: span 12;
}
.team__member-wrapper {
  grid-column-end: span 12;
  position: relative;
  max-width: 100%;
  margin: 4rem 0;
}
.team__member-wrapper .teammember {
  grid-column-end: span 6;
  border-radius: 8px;
  position: relative;
  max-width: 100%;
}
.team__member-wrapper .teammember--one {
  grid-column-start: 1;
  grid-template-areas: "content content content content content content img img img img img img";
  margin-bottom: 4rem;
}
.team__member-wrapper .teammember--one .teammember__img-wrapper {
  grid-column-start: 7;
}
.team__member-wrapper .teammember--one:hover {
  grid-column-start: 1;
  background-color: white;
}
.team__member-wrapper .teammember--two {
  grid-column-start: 7;
  grid-template-areas: "img img img img img img content content content content content content";
  margin-top: 4rem;
}
.team__member-wrapper .teammember--two .teammember__img-wrapper {
  grid-column-start: 1;
}
.team__member-wrapper .teammember--two:hover {
  background-color: white;
}
.team__member-wrapper .teammember__img-wrapper {
  grid-area: img;
  aspect-ratio: 5/7;
  height: auto;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.team__member-wrapper .teammember__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__member-wrapper .teammember__content-wrapper {
  display: none;
  grid-area: content;
  padding: 2rem;
}
.team__member-wrapper .teammember:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.team__member-wrapper .teammember:hover .teammember__content-wrapper {
  display: block;
}
.team__text {
  grid-column: 3/span 8;
}

@media screen and (max-width: 768px) {
  .team__member-wrapper {
    grid-column: 2/span 10;
  }
  .team__member-wrapper .teammember .h2 {
    font-size: 2.4rem;
    margin-top: 2em;
    margin-bottom: 1.4em;
    margin-top: 0;
  }
  .team__member-wrapper .teammember--one {
    grid-template-areas: "img img img img img img img img img img img img" "content content content content content content content content content content content content";
  }
  .team__member-wrapper .teammember--one .teammember__img-wrapper {
    grid-column-start: 1;
  }
  .team__member-wrapper .teammember--one:hover {
    grid-column-start: 1;
  }
  .team__member-wrapper .teammember--two {
    grid-column-start: 7;
    grid-template-areas: "img img img img img img img img img img img img" "content content content content content content content content content content content content";
  }
  .team__member-wrapper .teammember--two .teammember__img-wrapper {
    grid-column-start: 1;
  }
  .team__text {
    grid-column: 2/span 10;
  }
  .team__text p {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .team__member-wrapper {
    grid-column: 1/span 12;
  }
}
@media screen and (max-width: 495px) {
  .team__member-wrapper {
    grid-column: 1/span 12;
  }
  .team__member-wrapper .teammember {
    grid-column: 1/span 12;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin: 0 !important;
  }
  .team__member-wrapper .teammember__img-wrapper {
    aspect-ratio: 6/7;
  }
  .team__member-wrapper .teammember__content-wrapper {
    display: block;
  }
  .team__text {
    grid-column: 1/span 12;
  }
}
.contact h2 {
  grid-column-end: span 12;
}
.contact__form {
  grid-column: 2/span 10;
}
.contact__form p {
  line-height: 2em;
}
.contact__form *,
.contact__form *::before,
.contact__form *::after {
  box-sizing: border-box;
}
.contact__form select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 1;
}
.contact__form select::-ms-expand {
  display: none;
}
.contact__form select {
  outline: none;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  padding-right: 2rem;
  color: black;
  cursor: pointer;
}
.contact__form select:focus-visible {
  outline: 3px solid Highlight;
  outline-offset: 3px;
}
.contact__form .select {
  display: inline-flex;
  align-items: baseline;
  position: relative;
}
.contact__form .select::after {
  content: "▾";
  position: absolute;
  right: 0;
}
.contact__form input,
.contact__form .select {
  margin: 0;
  border: none;
  border-bottom: 2px solid black;
}
.contact__form input[type=text], .contact__form input[type=email],
.contact__form .select[type=text],
.contact__form .select[type=email] {
  padding: 2rem;
  padding-bottom: 1rem;
  height: 2em;
  transform: translateY(-0.4em);
}
.contact__form textarea {
  display: block;
  width: 80%;
  margin: 3rem auto;
  border: 2px solid black;
  border-radius: 8px;
  padding: 2rem;
}
.contact__form p {
  max-width: unset;
  text-align: center;
}
.contact__form label {
  font-size: 1.8rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: "Red Hat Text", Arial, sans-serif;
  font-variation-settings: "wght" 400;
  font-style: normal;
  text-align: center;
  display: inline;
}
.contact__form label.dsgvo {
  text-align: center;
}
.contact__form label.dsgvo .checkmark {
  border: 2px solid black;
  border-radius: 8px;
  aspect-ratio: 1/1;
}
.contact__form label.dsgvo input {
  height: auto;
  opacity: 0;
}
.contact__form label.dsgvo input:focus-visible + .checkmark {
  outline: 3px solid Highlight;
  outline-offset: 3px;
}
.contact__form label.dsgvo input + span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  margin: 0;
  margin-top: 0.16em;
  transform: translateX(-0.5em);
}
.contact__form label.dsgvo input:checked + span::before {
  content: "✔";
  font-size: 0.7em;
  color: black;
  position: relative;
  z-index: 3;
}
.contact__form .dsgvo-wrapper {
  text-align: center;
}
.contact__form button {
  margin-left: auto;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .contact__form {
    grid-column: 1/span 12;
  }
}
.contact-info {
  grid-template-areas: "space address address address address address address space2 contact contact contact space3";
}
.contact-info__address {
  grid-area: address;
}
.contact-info__address * {
  margin: 0;
  margin-top: 2rem;
}
.contact-info__contact {
  grid-area: contact;
}
.contact-info__contact a {
  display: block;
  margin: 0;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .contact-info {
    grid-template-areas: "address address address address address address address contact contact contact contact contact";
  }
}
@media screen and (max-width: 560px) {
  .contact-info {
    grid-template-areas: "address address address address address address address address address address address address" "contact contact contact contact contact contact contact contact contact contact contact contact";
  }
}

/*# sourceMappingURL=style.css.map */
