.button,
button {
    background-color: transparent;
    color: $color-darkblue;
    @include transition-all;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-align: center;
    font-variation-settings: "wght" 600;
    -webkit-appearance: none;
    height: auto;
    min-height: 35px;
    border-radius: 8px;
    width: auto;
    display: block;
    &:disabled,
    &[disabled] {
        opacity: 0.5;
    }

    &--primary {
        background: linear-gradient(176deg, $color-blue 0%, $color-turquoise 70%, $color-lilac 120%);
            padding: calc(1rem + 2px) 1.5rem;
        &:hover {
            transform: scale(1.02);
        }
    }

    &--secondary {
        border: 2px solid $color-darkblue;
        &:hover {
            transform: scale(1.02);
        }
    }
}